<h1>About DPL Shopping</h1>
<p>We are all about quality and if you aren't happy about that we can give you a completely free finger. If you are lucky it will be the middle one.</p>
<br />
<p>But if you aren't satisfied with that then you can send us an email and we might get back to you</p>

<%= render '/shared/form' %>
