<div class='container'>
  <h1 class='center'>DPL Shop Home</h1>
    <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Electronics</div>
      <div class='collapsible-body'><p><%= link_to 'View Electronics', electronics_path, class: 'btn orange'%></p></div>
    </li>
    <li>
      <div class="collapsible-header">Furniture</div>
      <div class="collapsible-body"><p><%= link_to 'View Furniture', furniture_path %></p></div>
    </li>
    <li>
      <div class="collapsible-header">Garden</div>
      <div class="collapsible-body"><p><%= link_to 'View Garden', garden_path %></p></div>
    </li>
    <li>
      <div class="collapsible-header">Outdoors</div>
      <div class="collapsible-body"><p><%= link_to 'View Outdoor', outdoor_path %></p></div>
    </li>
  </ul>
</div>
