<h1 class="center">Furniture</h1>
<hr />

<div class="row">
  <div class="col s12 m6">
    <div class="card small" id="nav">
      <div class="card-content white-text">
        <span class="card-title">Sofas</span>
        <p>Chaise, Daybeds, Sectionals, and More!</p>
      </div>
      <div class="card-action">
        <%= link_to 'New Product', products_path %>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card small" id="nav">
      <div class="card-content white-text">
        <span class="card-title">Tables</span>
        <p>Coffee, Console, End, Accent, and Side </p>
      </div>
      <div class="card-action">
        <%= link_to 'New Product', products_path %>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card small" id="nav">
      <div class="card-content white-text">
        <span class="card-title">Desks</span>
        <p>Writing, Executive, Credenza, Corner, and More! </p>
      </div>
      <div class="card-action">
        <%= link_to 'New Product', products_path %>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card small" id="nav">
      <div class="card-content white-text">
        <span class="card-title">Beds</span>
        <p>Tempur-Pedic, BeautyRest, Serta, Sealy</p>
        <p>Twin, Queen, King, and California King Sizes</p>
      </div>
      <div class="card-action">
        <%= link_to 'New Product', products_path %>
      </div>
    </div>
  </div>
</div>
